<center> <h2> Part 1 </h2> </center>

In this assignment, you will work with another ML dataset: Energy Efficiency (for buildings). You will apply various regression estimators to the dataset to predict the overall energy efficiency of buildings from various building parameters.

The link to the dataset is provided below.

The variables of the dataset are as follows:

    * X1 Relative Compactness
    * X2 Surface Area
    * X3 Wall Area
    * X4 Roof Area
    * X5 Overall Height
    * X6 Orientation
    * X7 Glazing Area
    * X8 Glazing Area Distribution
    * y1 Heating Load
    * y2 Cooling Load

As you can see, there are two possible target variables in the dataset (y1 and y2). In this assignment, however, you will only work with the target variable of y2.

**Hint:** Visit https://archive.ics.uci.edu/ml/datasets/Energy+efficiency to learn more about the dataset and its features.

In this part of the assignment, you will retrieve and prepare the dataset for regression analysis.

<hr />

### Question 1 

Write a function that retrieves the Energy Efficiency dataset from UCI Machine Learning Repository using the link below:
    
    * https://archive.ics.uci.edu/ml/machine-learning-databases/00242/ENB2012_data.xlsx
    
Your function should accept a URL and return a dataframe containing the features and target variables from this dataset as shown below:
    
    * Your dataframe should include 768 rows and 10 columns.

**Hint:** Visit https://archive.ics.uci.edu/ml/datasets/Energy+efficiency# to learn more about the dataset and its features.

In [ ]:
import pandas as pd

def load_data(excel_link):
    return pd.read_excel(excel_link).dropna(axis=1, how='all')

In [ ]:
energy_df = load_data('https://archive.ics.uci.edu/ml/machine-learning-databases/00242/ENB2012_data.xlsx')

In [ ]:
energy_df

       X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0    0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1    0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2    0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3    0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4    0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28
..    ...    ...    ...     ...  ...  ..  ...  ..    ...    ...
763  0.64  784.0  343.0  220.50  3.5   5  0.4   5  17.88  21.40
764  0.62  808.5  367.5  220.50  3.5   2  0.4   5  16.54  16.88
765  0.62  808.5  367.5  220.50  3.5   3  0.4   5  16.44  17.11
766  0.62  808.5  367.5  220.50  3.5   4  0.4   5  16.48  16.61
767  0.62  808.5  367.5  220.50  3.5   5  0.4   5  16.64  16.03

[768 rows x 10 columns]

### Question 2 

Write a code snippet to drop the column Y1 from energy_df and also rename the column Y2 to a new name called 'target'.

In [ ]:
energy_df = energy_df.drop('Y1', axis=1).rename(columns={'Y2': 'target'})

In [ ]:
energy_df

       X1     X2     X3      X4   X5  X6   X7  X8  target
0    0.98  514.5  294.0  110.25  7.0   2  0.0   0   21.33
1    0.98  514.5  294.0  110.25  7.0   3  0.0   0   21.33
2    0.98  514.5  294.0  110.25  7.0   4  0.0   0   21.33
3    0.98  514.5  294.0  110.25  7.0   5  0.0   0   21.33
4    0.90  563.5  318.5  122.50  7.0   2  0.0   0   28.28
..    ...    ...    ...     ...  ...  ..  ...  ..     ...
763  0.64  784.0  343.0  220.50  3.5   5  0.4   5   21.40
764  0.62  808.5  367.5  220.50  3.5   2  0.4   5   16.88
765  0.62  808.5  367.5  220.50  3.5   3  0.4   5   17.11
766  0.62  808.5  367.5  220.50  3.5   4  0.4   5   16.61
767  0.62  808.5  367.5  220.50  3.5   5  0.4   5   16.03

[768 rows x 9 columns]

### Question 3 
Write a function that extracts and returns a tuple of features and target variables from the energy_df dataframe above. Features are all columns from 0 to 7, and the target is the target column.

    * The features variable should be a DataFrame object with 768 rows and 8 columns
    * The target variable should be Series object with 768 values

In [ ]:
def features_and_target(df):
    features = df.iloc[:, :-1]
    target = df['target']
    return (features, target)

In [ ]:
features, target = features_and_target(energy_df)

In [ ]:
features

       X1     X2     X3      X4   X5  X6   X7  X8
0    0.98  514.5  294.0  110.25  7.0   2  0.0   0
1    0.98  514.5  294.0  110.25  7.0   3  0.0   0
2    0.98  514.5  294.0  110.25  7.0   4  0.0   0
3    0.98  514.5  294.0  110.25  7.0   5  0.0   0
4    0.90  563.5  318.5  122.50  7.0   2  0.0   0
..    ...    ...    ...     ...  ...  ..  ...  ..
763  0.64  784.0  343.0  220.50  3.5   5  0.4   5
764  0.62  808.5  367.5  220.50  3.5   2  0.4   5
765  0.62  808.5  367.5  220.50  3.5   3  0.4   5
766  0.62  808.5  367.5  220.50  3.5   4  0.4   5
767  0.62  808.5  367.5  220.50  3.5   5  0.4   5

[768 rows x 8 columns]

In [ ]:
target

0      21.33
1      21.33
2      21.33
3      21.33
4      28.28
       ...
763    21.40
764    16.88
765    17.11
766    16.61
767    16.03
Name: target, Length: 768, dtype: float64

<hr>

<center><h1> Part 2 </h1></center>

In this part, you will apply and evaluate multiple regression estimators (Linear Regression, Ridge, Lasso, kNN, and LinearSVR) to the Energy Efficiency dataset.

<hr>

### Question 4 
Write a function that splits the dataset into training and testing sets. The function should return the training and test splits as shown in the sample function call. Use random_state=3000 when splitting your dataset.

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
def split_the_dataset():
    return train_test_split(features, target, random_state=3000)

In [ ]:
X_train, X_test, y_train, y_test = split_the_dataset()

### Question 5 
You will find it useful to define a dictionary containing these five regression estimators (Linear Regression, Ridge, Lasso, kNN, and LinearSVR) so you can apply them in an iteration statement. For this question, import the relevant methods from sci-kit learn and define the estimators dictionary.

In [ ]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import LinearSVR

estimators = {
    'Linear Regression': LinearRegression(), 
    'Ridge': Ridge(),
    'Lasso': Lasso(),
    'k-Nearest Neighbor': KNeighborsRegressor(),
    'Support Vector Machine': LinearSVR(max_iter=1000000)}

In [ ]:
# your output may display more parameters than shown here
estimators.values()

dict_values([LinearRegression(), Ridge(), Lasso(), KNeighborsRegressor(), LinearSVR(max_iter=1000000)])

### Question 6 
Write a function that fits these regression estimators to the training data using a percentage-split approach. You should use an iteration statement to apply these regression estimators. R-squared values should be displayed for both training and test sets.

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
def regressors_percentage_split():
    for estimator_name, estimator_object in estimators.items():
        model = estimator_object.fit(X=X_train, y=y_train)
        print(estimator_name + ': \n\t' + f'R-squared value for training set: {r2_score(y_train, model.predict(X_train))}' 
              + '\n\t' + f'R-squared value for testing set: {r2_score(y_test, model.predict(X_test))}' +"\n")

In [ ]:
# your R-square values may slightly differ
# but they shouldn't be terribly off
regressors_percentage_split()

Linear Regression:
	R-squared value for training set: 0.8866832940313006
	R-squared value for testing set: 0.8747787177558356

Ridge:
	R-squared value for training set: 0.8857523325352672
	R-squared value for testing set: 0.8696356299456403

Lasso:
	R-squared value for training set: 0.7909719493377705
	R-squared value for testing set: 0.7415012433952806

k-Nearest Neighbor:
	R-squared value for training set: 0.9729795093926208
	R-squared value for testing set: 0.9547529979241635

Support Vector Machine:
	R-squared value for training set: 0.8751842212299508
	R-squared value for testing set: 0.8475856888793117

/Users/sinasolt/opt/anaconda3/lib/python3.8/site-packages/sklearn/svm/_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

### Question 7 

For this question, you will normalize the X_train and X_test variables and perform the same multiple model fitting/evaluation that you did in the previous question. The output of this question will be similar to that of the previous question, with only one major distinction: here the normalized variables will be used to train and test the algorithms. For normalization, apply **MinMaxScaler()**.

Write a function that first applies the MinMaxScaler to the X_train and X_test global variables (as defined above) and then applies the same regression estimators. **This function should also return the scaled variables, X_train_scaled and X_test_scaled respectively.** You will need these variables in the next question.

*Please read the description very carefully before proceeding to your solution.*

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
def preprocessed_regression():
    scaler = MinMaxScaler()
    scaler.fit(X_train)
    X_train_scaled = scaler.transform(X_train)
    X_test_scaled = scaler.transform(X_test)
    for estimator_name, estimator_object in estimators.items():
        model = estimator_object.fit(X=X_train_scaled, y=y_train)
        print(estimator_name + ': \n\t' + f'R-squared value for training set: {r2_score(y_train, model.predict(X_train_scaled))}' 
              + '\n\t' + f'R-squared value for testing set: {r2_score(y_test, model.predict(X_test_scaled))}' +"\n")
    return (X_train_scaled, X_test_scaled)

In [ ]:
X_train_scaled, X_test_scaled = preprocessed_regression()

Linear Regression:
	R-squared value for training set: 0.8894041273141051
	R-squared value for testing set: 0.8753949914843537

Ridge:
	R-squared value for training set: 0.8880375941362453
	R-squared value for testing set: 0.8711496370323976

Lasso:
	R-squared value for training set: 0.7603527845294311
	R-squared value for testing set: 0.722620408488888

k-Nearest Neighbor:
	R-squared value for training set: 0.9260441752256717
	R-squared value for testing set: 0.8870455496740268

Support Vector Machine:
	R-squared value for training set: 0.8768118742821988
	R-squared value for testing set: 0.8488452719408155

<hr>

<center><h1> Part 3 </h1></center>

In ML practice, you don't always use the entire set of features when finalizing your ML model for deployment. Instead you select a subset of the most important features to reduce the computational demands of your model. Another common strategy is to tune your model to further improve on the model performance. Therefore, in this final part, you will do both.


*Please read question descriptions very carefully before proceeding to your solutions.*

<hr>

### Question 8 
Looking at the previous output, it can be said that the kNN algorithm seems to works best for this dataset. In this question, you will attempt to improve the prediction performance by automatically selecting the most important features (k=3). 

Use recursive feature elimination (RFE) to select the **three** most important features. For your RFE, use a decision tree regressor to recursively eliminate the features. Your selection must be based on the X_train_scaled and X_test_scaled variables defined in the previous question. 

The idea is to use the scaled values that provided better results than raw values and to see if we can further improve the prediction performance by only using the most important features. Your function should produce the sample output given below and should also return the selected features, X_train_selected and X_test_selected.

In [ ]:
from sklearn.feature_selection import RFE
from sklearn.tree import DecisionTreeRegressor

In [ ]:
def RFE_feature_selection():
    select = RFE(DecisionTreeRegressor(random_state = 3000), n_features_to_select = 3)
    select.fit(X_train_scaled, y_train)
    print('Selected features after RFE:')
    for col, mask in zip(features.columns, select.get_support()):
        if mask: print(f'\t{col}')
    print('\n')
    X_train_selected = select.transform(X_train_scaled)
    X_test_selected = select.transform(X_test_scaled)
    model = estimators['k-Nearest Neighbor'].fit(X=X_train_selected, y=y_train)
    print('kNN Regression performance with selected features' + ': \n\t' + f'R-squared value for training set: {r2_score(y_train, model.predict(X_train_selected))}' 
              + '\n\t' + f'R-squared value for testing set: {r2_score(y_test, model.predict(X_test_selected))}' +"\n")
    return (X_train_selected, X_test_selected)

In [ ]:
X_train_selected, X_test_selected = RFE_feature_selection()

Selected features after RFE:
	X1
	X3
	X7


kNN Regression performance with selected features:
	R-squared value for training set: 0.961705245742336
	R-squared value for testing set: 0.9497826076129472

### Question 9 

In this penultimate question, you will perform a Grid Search to tune two key parameters of the kNN regression algorithm at the same time and determine which combination yields the best performance. Specifically, you will change the number of neighbors, n_neighbors, and the distance function used to calculate the distance between different data points, metric. The possible values for each hyperparameter are as follows:
    
    * For n_neighbors, try 1, 5, and 10.
    * For metric, try "euclidean", "manhattan", and "minkowski".

You can learn more about these three distance functions at https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.DistanceMetric.html.


Write a function that applies a Grid Search with kNN regression estimator and evaluates the performance of these parameters using 5-fold evaluation. Your function should produce the provided output. Your function should use the X_train_selected and X_test_selected variables from the previous step.

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
def grid_search_kNN():
    param_grid = {'n_neighbors':[1, 5, 10], 'metric': ['euclidean', 'manhattan', 'minkowski']}
    grid_search = GridSearchCV(KNeighborsRegressor(), param_grid, cv=5)
    grid_search.fit(X=X_train_selected, y=y_train)
    print('Best parameters: ', grid_search.best_params_)
    print('Training set score with best parameters: ', grid_search.score(X_train_selected, y_train))
    print('Test set score with best parameters: ', grid_search.score(X_test_selected, y_test))

In [ ]:
grid_search_kNN()

Best parameters:  {'metric': 'euclidean', 'n_neighbors': 10}
Training set score with best parameters:  0.9679535133666161
Test set score with best parameters:  0.9636318595177941

### Question 10 

Comparing the GridSearch result with the selected features and tuned parameters to the original kNN results, what can you conclude about the effects of feature selection and hyperparameter tuning on model performance?

In [ ]:
# Training set R^2:
#     orig: ~0.973
#     tuned: ~0.968
# Testing set R^2:
#     orig: ~0.955
#     tuned: ~0.964
# Our model became less accurate on the training data and more accurate on the testing data, 
#   minimizing the difference between the two scores to about ~0.004 compared to ~0.180 before.
#   Feature selection helped reduce our model complexity and decrease overfitting, 
#   helping our model to generalize better.